
html, body { margin:0; padding:0; }
html { height: 100%; overflow-y: scroll; }
body { min-height: 100%; }
body > .body { padding: 30px; }
#messages { cursor:pointer; margin:0; padding:15px 0; width:100%; position:fixed; top:0; left:0; background-color:rgba(160, 160, 160, 0.9); font-size:18px; text-shadow:1px 1px 1px #777; }
#messages > li { padding:5px 20px; }
#messages > li.error { color:red; }
#messages > li.success { color:green; }
h1 { margin:20px 0; }
h1 smaller { font-size:16px; }
pre { margin-left:10px; padding:5px 10px; background-color:#777;  color:#fff; font-size:16px; overflow:auto; }
article, fieldset { padding:30px; border:solid 1px #bbb; }
fieldset { padding:10px 20px; margin:30px 0; }

p.form-element input:not([type="checkbox"]):not([type="radio"]),
p.form-element textarea,
p.form-element select {
	padding: 1px;
	border: solid 1px #999;
	width: 400px;
}
form span.input,
form span.description {
	display: block;
}
form fieldset > p.form-element {
	margin: 6px 0;
}
form fieldset > p.form-element:first-child,
form fieldset > legend + p.form-element,
form fieldset > p.form-element:last-child {
	margin: 0;
}
form span.description {
	font-size: 80%;
	color: #999;
	margin-left: 20px;
}
form p.checkboxes span.option {
	display: block;
}
form p.error {
	color: red;
}
form p.error input,
form p.error textarea,
form p.error select,
form p.form-element :invalid {
	border: solid 2px red !important;
}
ul.form-errors {
	color: red;
	font-weight: bold;
	font-size: 110%;
}

article { background-color:rgba(0, 0, 0, 0.04); }
article.blogpost { margin-top: 15px; padding-top: 20px; }
article.unpublished > h1, article.unpublished > header > h2 > a { color:red; }
article article { margin:0; }
article h3, article h2, article h1 { margin:0; }
article.blogpostpreview { margin-bottom:30px; }
article.comment { margin-top:30px; }
article.comment:first-child { margin-top:10px; }
article.comment p:last-child { margin-bottom:0; }

body > .overlay { position: fixed; top:0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.4); }
body > .overlay > div {
	display: inline-block;
	margin: 20px;
	padding: 20px;
	background-color: #fff;
}
body > .overlay > div > :last-child:not(p.close-overlay) {
	margin-bottom: 0;
}
