
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^.*$ index.php [QSA,L]

SetEnv APPLICATION_ENV "development"

php_value date.timezone "Europe/Amsterdam"
