
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d [NC]
RewriteCond %{REQUEST_FILENAME} !-f [NC]
RewriteRule (.*) index.php?url=$1 [QSA,L]

SetEnv APPLICATION_ENV "development"

php_value error_reporting 30719
php_value date.timezone "Europe/Amsterdam"
